/* Fixes for navbar overlapping top of content and sticky footer css /*  */

body {
  padding-top: 60px;
}

.top-sidebar-panel {
  margin-top: 20px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #d3d3d3;
  text-align:center;
}

body > .container {
  padding: 60px 15px 0;
}

#footer > .container {
  padding-top: 20px;
}
